<%= form_for @prenatal, :method => :patch, :class => "form" do |f| %>

<div class="form-group">
  <%= f.label :date, "日期" %>
  <%= f.text_field :date, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :title, "主題" %>
  <%= f.text_field :title, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :content, "內容" %>
  <%= f.text_area :content, :class => "form-control" %>
</div>

<%= f.submit "更新", :class => "btn btn-primary" %>
<% end %>

<%= link_to '回上頁', prenatals_path %>