<p id="notice"><%= notice %></p>

<h1>產檢記錄</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prenatals.each do |prenatal| %>
      <tr>
        <td><%= link_to '詳情', prenatal %></td>
        <td><%= link_to '編輯', edit_prenatal_path(prenatal) %></td>
        <td><%= link_to '刪除', prenatal_path(prenatal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增產檢記錄', new_prenatal_path %>
